:root {
  --color-light: #a3a8f0;
  --color-dark: #696fdd;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 18.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #f6f6fe;
}

.bg-right {
  background-image: url(images/bg-top.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 25rem;
  height: 45rem;
  z-index: -10;
}

.bg-left {
  background-image: url(images/bg-bottom.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 30rem;
  z-index: -10;
}

@media only screen and (max-width: 25em) {
  .bg-left {
    display: none;
  }
}

.pricing {
  max-width: 100rem;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 25em) {
  .pricing {
    width: 95%;
  }
}

.pricing-heading {
  font-size: 3rem;
  color: #494c5f;
}

.pricing-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 35rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #b3b5c6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 25em) {
  .pricing-toggle {
    width: 85%;
  }
}

@media only screen and (max-width: 18.75em) {
  .pricing-toggle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing-toggle-button {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-light)), to(var(--color-dark)));
  background-image: linear-gradient(to right, var(--color-light), var(--color-dark));
  height: 2.5rem;
  width: 5rem;
  border-radius: 5rem;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 18.75em) {
  .pricing-toggle-button {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 1.5rem 0;
  }
}

.pricing-toggle-button:hover::before {
  background-color: #f6f6f6;
}

.pricing-toggle-button::before {
  content: "";
  height: 2rem;
  width: 2rem;
  margin: .25rem 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media only screen and (max-width: 18.75em) {
  .pricing-toggle-button::before {
    rotate: 90deg;
  }
}

.toggle {
  display: none;
}

.toggle:checked ~ .pricing-toggle-button {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-dark)), to(var(--color-light)));
  background-image: linear-gradient(to right, var(--color-dark), var(--color-light));
}

.toggle:checked ~ .pricing-toggle-button::before {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  height: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 2rem #0000002d;
          box-shadow: 0 1rem 2rem #0000002d;
}

@media only screen and (max-width: 56.25em) {
  .card {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 18.75em) {
  .card {
    font-size: 90%;
  }
}

.card-name {
  color: #6d708d;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.card-price {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  color: #494c5f;
  font-size: 5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card-list {
  width: 90%;
  list-style: none;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: auto;
}

.card-item {
  color: #6d708d;
  border-top: 1px solid #e6e6e6;
  padding: 1rem;
}

.card-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.price-container {
  position: relative;
  height: 6.5rem;
  width: 100;
}

.card-pro {
  height: 44rem;
  padding: 4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-light)), to(var(--color-dark)));
  background-image: linear-gradient(to right, var(--color-light), var(--color-dark));
  -webkit-box-shadow: 0 0 3rem #aaa;
          box-shadow: 0 0 3rem #aaa;
  z-index: 5;
}

.card-pro > *,
.card-pro > * > * {
  color: #fff;
}

.btn {
  width: 90%;
  padding: 1rem 2rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-light)), to(var(--color-dark)));
  background-image: linear-gradient(to right, var(--color-light), var(--color-dark));
  color: #fff;
  border-radius: .5rem;
  text-transform: uppercase;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.btn:hover {
  color: var(--color-dark);
  background-color: transparent;
  border: 1px solid var(--color-dark);
  background-image: none;
}

.btn-pro {
  color: var(--color-dark);
  background-color: #fff;
  background-image: none;
}

.btn-pro:hover {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  color: #fff;
}

.none {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */